.section {
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 0px 20px 0px 20px;
  background-color: #ccc;
}

.text {
  flex: 1;
}

img {
  width: 120px; 
  height: 120px; 
  object-fit: cover; 
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}