.matricula-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .form-group input[type="text"],
  .form-group input[type="tel"],
  .form-group input[type="email"],
  .form-group select {
    width: 100%;
    padding: 8px; 
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group select {
    height: 30px; 
  }
  