.section {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 20px; 
    border: 1px solid #ccc;
    border-radius: 0px 20px 0px 20px;
    background-color: #ccc; 
}

.text {
    flex: 1;
}

.video {
    flex: 1;
    position: relative;
    padding-bottom: 30%;
  }

iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

h1, h2{
    color: rgb(5, 13, 100);
}

.info {
    font-size: 24px;
}